In [1]:
import pandas as pd
import re

In [2]:
comm_file = 'CommercialTimber_all_processed.csv'
cites_file = 'CITES_list.csv'
redlist_file = 'RedList_collated.csv'

In [3]:
main_df = pd.read_csv(
    comm_file,
    usecols= ['entity_id', 'sc_name']
)
main_df['range_state'] = None

In [4]:
main_df.columns

Index(['entity_id', 'sc_name'], dtype='object')

In [5]:
cites_df = pd.read_csv(
    cites_file,
    usecols=  ['Scientific Name','Listing'],
    header=1
)
cites_df.columns

Index(['Scientific Name', 'Listing'], dtype='object')

In [6]:
def clean_sc_name(nm):
    return re.sub('".*"', '', nm )

# Add in *flags*
### FLAGS : CITES, IUCN

In [7]:
cur_entity_id = max(list(main_df['entity_id']))+1

'''
Add in column : 'CITES','IUCN'
'''

main_df['CITES'] = 0
main_df['IUCN']  = 0

'''
Try to find if row already exists
'''
def find_in_main( df, sc_name ):
    res = df.loc[df['sc_name'] == sc_name]
    if len(res) > 0 :
        id = list(res['entity_id'])[0]
        return id
    return None

In [8]:
'''
Go through each row of CITES Data
'''
_FLAG1 = 'CITES'
_FLAG2 = 'IUCN'
for i, row in cites_df.iterrows():
    scn = row['Scientific Name']
    scn =  clean_sc_name(scn)
    id = find_in_main(main_df, scn)
    cites_listing = row['Listing']
    if cites_listing in ['I','II','III'] :
        flag = 1
    else :
        flag = 0
    range_state = row['All_DistributionISOCodes']   
    # species present in main_df
    if id is not None :
        index = main_df.index[main_df['entity_id']==id][0]
        main_df.loc[i,_FLAG1] = flag
    else :
        tmp_dict = {
            'entity_id' : cur_entity_id,
            'sc_name' : scn,
             _FLAG1 : flag,
             _FLAG2 : 0,
            'range_state' : range_state
        }
        main_df = main_df.append(tmp_dict,ignore_index=True)
        cur_entity_id += 1

print(max(list(main_df['entity_id'])))

17079

In [9]:
l = len(main_df[main_df['CITES']==1])
print('Number of entries with CITES == 1 ::', l)
print('Total entries ', len(main_df) )

Number of entries with CITES == 1 :: 15191
Total entries  17079

In [11]:
main_df.head(10)

   entity_id                sc_name  CITES  IUCN
0          1  Acacia auriculiformis      0     0
1          2     Acacia crassicarpa      0     0
2          3       Acacia decurrens      0     0
3          4             Acacia koa      0     0
4          5         Acacia mangium      0     0
5          6        Acacia mearnsii      0     0
6          7     Acacia melanoxylon      0     0
7          8        Acacia nilotica      0     0
8          9       Acacia pubescens      0     0
9         10         Acer campestre      0     0

In [12]:
old_main_df = pd.DataFrame(main_df,copy=True)

In [13]:

redlist_df = pd.read_csv(redlist_file)

In [14]:
main_df['common_name'] = None
status_0 = ['LR/nt', 'LC', 'LR/lc']

In [6]:
def find_in_main( df, scn):
    tmp_df = df.loc[(main_df['sc_name'] == scn )]
    
    if len(tmp_df) > 0: 
        tmp_df.reset_index(inplace = True)
        entity_id = tmp_df.loc[0,'entity_id']
        index = df.index[df['entity_id']==entity_id][0]
        return  index 
    return None

In [7]:
_FLAG1 = 'IUCN'
_FLAG2 = 'CITES'

'''
Go through each row of IUCN Redlist Data
'''
cur_entity_id = max(list(main_df['entity_id']))+1
for i , row in redlist_df.iterrows():
    gn = row['genus']
    sp = row['species']
    ssp = row['sub_species']
    res =  None
    cand_sc_names = []
    
    if type(ssp) == str:
        '''
        Try with 2 variations
        1. genus sp sub 
        2. genus sp
        '''
        sc_nm_i1 = ' '.join([gn ,sp, ssp])
        sc_nm_i2 = ' '.join([gn ,sp])
        cand_sc_names.append(sc_nm_i1)
        cand_sc_names.append(sc_nm_i2)
    else:
        if ';' in sp:
            sp_parts = sp.split(';')
        else :
            sp_parts = [sp]
        for s in sp_parts:
            sc_nm_i = ' '.join([gn ,s])
            cand_sc_names.append(sc_nm_i)
    
    status = row['status']
    
    if status in status_0 :
        flag = 0
    else :
        flag = 1
    # Common Names
    cn = []
    mcn = row['main_common_name']
    if type(mcn) == str:
        cn.append(mcn)
    
    oth_cn = row['other_common_names']
    if type(oth_cn) == str:
        oth_cn = oth_cn.split(';')
        cn.extend(oth_cn)
        
    cn = list(set(cn))
    '''
    ; separated common names
    ''' 
    COMMON_NAMES = ';'.join(cn)
    
    '''
    Check or each of the candidate scientific names
    '''
    for SN in cand_sc_names :
        search_idx = find_in_main(main_df, SN) 
        if search_idx is not None :
            # Pre-existing record
            main_df.loc[ search_idx, _FLAG1 ] = flag
            main_df.loc[ search_idx, 'common_name' ] = cn
        else :
            # New record
            tmp_dict = {
                'entity_id' : cur_entity_id,
                'sc_name' : SN,
                'common_name': COMMON_NAMES,
                _FLAG1 : flag,
                _FLAG2 : 0,
                'range_state': None
            }
            
            main_df = main_df.append(tmp_dict,ignore_index = True)
            cur_entity_id += 1

In [8]:
main_df.to_csv('combined_species.csv')
print(len(main_df))

39732

In [9]:
df = pd.read_csv('combined_species.csv',index_col = 0)
df.head(10)

,entity_id,is_coniferous,sc_name,family,flag,range_state,common_name
0,1,0.0,Acacia auriculiformis,Leguminosae,0.0,NaN,Ear-leaf Acacia
1,2,0.0,Acacia crassicarpa,Leguminosae,1.0,NaN,NaN
2,3,0.0,Acacia decurrens,Leguminosae,NaN,NaN,NaN
3,4,0.0,Acacia koa,Leguminosae,0.0,NaN,Koa;Gray Koa
4,5,0.0,Acacia mangium,Leguminosae,NaN,NaN,NaN
5,6,0.0,Acacia mearnsii,Leguminosae,NaN,NaN,NaN
6,7,0.0,Acacia melanoxylon,Leguminosae,NaN,NaN,NaN
7,8,0.0,Acacia nilotica,Leguminosae,0.0,NaN,Sunt;Qarad
8,9,0.0,Acacia pubescens,Leguminosae,NaN,NaN,NaN
9,10,0.0,Acer campestre,Sapindaceae,0.0,NaN,Field Maple

In [11]:
include_exclude_file = 'Inclusion_Exclusion_of_TaxonomicFamilies_forMasterSpeciesList_8July.xlsx' 

ie_df = pd.read_excel(include_exclude_file)
print (list(ie_df.columns))
ie_df.head(10)

['Debanjan\'s New "Complete list of families" - 8 July', 'Full  List Families ', 'Full List total species', 'Shows up in Commercially Traded List (if so, how many are on list) + new additions (coniferous species) to commercially traded list', 'FOR THIS PROJECT, INCLUSION OF FULL LIST OF FAMILIES (& SPECIES):\nINCLUDE = 1 (EXLCUDE = 0)', 'Notes:']

,"Debanjan's New ""Complete list of families"" - 8 July",Full List Families,Full List total species,"Shows up in Commercially Traded List (if so, how many are on list) + new additions (coniferous species) to commercially traded list","FOR THIS PROJECT, INCLUSION OF FULL LIST OF FAMILIES (& SPECIES): INCLUDE = 1 (EXLCUDE = 0)",Notes:
0,Agavaceae,Agavaceae,4.0,NaN,0.0,Agavoideae is a subfamily of monocot flowering...
1,Amaryllidaceae,Amaryllidaceae,30.0,NaN,0.0,"Family of herbaceous, mainly perennial and bul..."
2,Bromeliaceae,Bromeliaceae,4.0,NaN,0.0,monocot flowering plants
3,Cactaceae,Cactaceae,1862.0,NaN,0.0,According to Commercially Traded Timber Workin...
4,Cucurbitaceae,Cucurbitaceae,2.0,NaN,0.0,"cucurbits and the gourd family,"
5,Cyatheaceae,Cyatheaceae,653.0,NaN,0.0,According to Commercially Traded Timber Workin...
6,Cycadaceae,Cycadaceae,96.0,NaN,0.0,NaN
7,Dicksoniaceae,Dicksoniaceae,5.0,NaN,0.0,"family of tropical, subtropical and warm tempe..."
8,Didiereaceae,Didiereaceae,17.0,NaN,0.0,flowering plants found in continental Africa a...
9,Dioscoreaceae,Dioscoreaceae,1.0,NaN,0.0,"monocotyledonous flowering plants, with about..."

In [12]:
cols = list(ie_df.columns)
req_col = [cols[1],cols[4]]

ie_df = ie_df[req_col]
ie_df = ie_df.rename(columns={cols[1]:'family', cols[4]:'include'})

exc_df = ie_df.loc[(ie_df['include']==0)]
exclude_list = list(exc_df['family'])
print(exclude_list)

['Agavaceae', 'Amaryllidaceae', 'Bromeliaceae', 'Cactaceae', 'Cucurbitaceae', 'Cyatheaceae', 'Cycadaceae', 'Dicksoniaceae', 'Didiereaceae', 'Dioscoreaceae', 'Droseraceae', 'Fouquieriaceae', 'Gnetaceae', 'Liliaceae', 'Nepenthaceae', 'Orchidaceae', 'Orobanchaceae', 'Papaveraceae', 'Passifloraceae', 'Pedaliaceae', 'Portulacaceae', 'Ranunculaceae', 'Sarraceniaceae', 'Scrophulariaceae', 'Stangeriaceae', 'Valerianaceae', 'Vitaceae', 'Welwitschiaceae', 'Zamiaceae', 'Zingiberaceae']

In [32]:
# for r in exclude_list:
#     main_df = main_df.loc[(main_df['family']!=r)]

# print (len(main_df))
# main_df.to_csv('combined_species_1.csv')
# print (len(main_df))

25541
25541

In [33]:
# len(main_df.loc[main_df['flag'] == 1])

16600

In [13]:
import json
# Read in the family_genus json
family_genus_json = 'family_genus.json'
with open(family_genus_json,'r') as f :
    data = f.read()

fg_dict = json.loads(data)

genus_family_dict = {}

#create a map from genus to family
for f, g_list in fg_dict.items():
    for g in g_list :
        if g in genus_family_dict.keys():
            pass
        else :
            genus_family_dict[g] = f

In [16]:
# Set up the genus in each row of dataframe

def set_genus(row):
    gn = (row['sc_name'].split(' '))[0]
    return gn

df['genus'] = df.apply(set_genus,axis=1)
df.head(10)

,entity_id,is_coniferous,sc_name,family,flag,range_state,common_name,genus
0,1,0.0,Acacia auriculiformis,Leguminosae,0.0,NaN,Ear-leaf Acacia,Acacia
1,2,0.0,Acacia crassicarpa,Leguminosae,1.0,NaN,NaN,Acacia
2,3,0.0,Acacia decurrens,Leguminosae,NaN,NaN,NaN,Acacia
3,4,0.0,Acacia koa,Leguminosae,0.0,NaN,Koa;Gray Koa,Acacia
4,5,0.0,Acacia mangium,Leguminosae,NaN,NaN,NaN,Acacia
5,6,0.0,Acacia mearnsii,Leguminosae,NaN,NaN,NaN,Acacia
6,7,0.0,Acacia melanoxylon,Leguminosae,NaN,NaN,NaN,Acacia
7,8,0.0,Acacia nilotica,Leguminosae,0.0,NaN,Sunt;Qarad,Acacia
8,9,0.0,Acacia pubescens,Leguminosae,NaN,NaN,NaN,Acacia
9,10,0.0,Acer campestre,Sapindaceae,0.0,NaN,Field Maple,Acer

In [17]:
def set_family(row):
    gn = row['genus']
    if type(row['family']) == str :
        return row['family']
    elif gn in genus_family_dict.keys():
        family = genus_family_dict[gn]
        return family
    return None

df['family'] = df.apply(set_family,axis=1)

df.head(10)

,entity_id,is_coniferous,sc_name,family,flag,range_state,common_name,genus
0,1,0.0,Acacia auriculiformis,Leguminosae,0.0,NaN,Ear-leaf Acacia,Acacia
1,2,0.0,Acacia crassicarpa,Leguminosae,1.0,NaN,NaN,Acacia
2,3,0.0,Acacia decurrens,Leguminosae,NaN,NaN,NaN,Acacia
3,4,0.0,Acacia koa,Leguminosae,0.0,NaN,Koa;Gray Koa,Acacia
4,5,0.0,Acacia mangium,Leguminosae,NaN,NaN,NaN,Acacia
5,6,0.0,Acacia mearnsii,Leguminosae,NaN,NaN,NaN,Acacia
6,7,0.0,Acacia melanoxylon,Leguminosae,NaN,NaN,NaN,Acacia
7,8,0.0,Acacia nilotica,Leguminosae,0.0,NaN,Sunt;Qarad,Acacia
8,9,0.0,Acacia pubescens,Leguminosae,NaN,NaN,NaN,Acacia
9,10,0.0,Acer campestre,Sapindaceae,0.0,NaN,Field Maple,Acer

In [18]:
for r in exclude_list:
    df = df.loc[(df['family']!=r)]

df.to_csv('combined_species_1.csv')
print (len(df))

24628

In [19]:
len(df.loc[df['flag']==0])

7377